#profile-info {
    background-image: linear-gradient(rgba(255,255,255,.4), rgba(255,255,255,.4)), url('../../images/vertical-explorer-profile-background.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#previous-climbs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 600px;
    padding: 2% 5%;
    margin: 0 auto;
    text-align: center;
}

#previous-climbs button {
    max-width: 250px;
}

.climb {
    display: flex;
    justify-content: space-around;
    background: #e84832;
    color: #fff;
    padding: 2%;
    border-radius: 3px;
    margin: 1%;
}

#distance {
    text-align: center;
}

button.delete {
    font-size: 21px;
    line-height: 32px;
    opacity: .75;
    border: 0px solid;
}

button.delete:hover {
    opacity: 1;
    transition: .5s;
}

@media screen and (max-width: 300px) {
    .climb {
        display: block;
        text-align: center;
    }
}
